*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	background: rgba(201,212,227);
	font-family: 'roboto','Poppins','Raleway', sans-serif;
}

header{
	width:80%;
	position: fixed;
	padding:2%;
	left:20%;
	z-index: 100;
	text-align: center;
		
}

#titulo{
	padding:1em;
	text-align: center;
	line-height:2em;
}

aside{
/**	background-color: rebeccapurple;**/
	width:20%;
	position: fixed;
	display:inline-block;
	border-right:dashed blue 0.5px;
	background: rgba(128, 155, 188);
}
#MiFoto{
	height:30vh;
}

.contenedor {
          display: flex;
          flex-direction: column;
		  justify-content:space-evenly;
		  height:100vh;
		  align-items: center;
	background: rgba(128, 155, 188);
        }

.contenedor i {
	font-size:2em;
	background: rgba(128, 155, 188);
}
.Boton{
	width: 100%;
	border:none;
	cursor: pointer;
	background: rgba(128, 155, 188);
}
.Boton:hover{
	background-color: yellow;
}
main{
/**	background-color: yellow;**/
	position: relative;
	padding-top: 8em;
	left:20%;
	width:80%;
	line-height:1.3em;
}

#SobreMi{
	padding:1em;
}

.VentanaTel{
	position: fixed;
	top: 40%;
	left: 10%;
	transform: translate(0%, 0%) scale(0);
	background-color: rgb(229, 255, 0);
}


footer{
	background-color: grey;
	text-align: center;
}
