*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	background: rgba(237, 237, 248);
	font-family: 'roboto','Raleway', sans-serif;
}

header{
	width:80%;
	position: fixed;
	left:20%;
	z-index: 100;
	text-align: center;
}

#titulo{
	padding:1em;
	text-align: center;
	line-height:2em;
}

aside{
/**	background-color: rebeccapurple;**/
	width:20%;
	position: fixed;
	display:inline-block;

}
#MiFoto{
	height:30vh;
}

.contenedor {
          display: flex;
          flex-direction: column;
		  justify-content:space-evenly;
		  height:100vh;
		  align-items: center;
        }

.contenedor i {
	font-size:2em;

}

main{
/**	background-color: yellow;**/
	position: relative;
	padding-top: 5em;
	left:20%;
	width:80%;
	line-height:1.3em;
}

#SobreMi{
	padding:1em;
}


footer{
	background-color: grey;
	text-align: center;
}
